.card-depositions {
  width: 100%;
  max-width: 38.4rem;
  background-color: rgba(241, 240, 245, 0.549);
  border-radius: 8px;
  padding: 3.6rem 3.2rem 2.4rem;

  @include responsive(800px) {
    max-width: 35.8rem;
    padding: 3.6rem 2.4rem 2.4rem 3.2rem;
  }

  @include responsive(480px) {
    max-width: 24.9rem;
    padding: 3.6rem 1.6rem 4rem 3.2rem;
  }

  .user {
    @include flex(row, center, space-between);
    margin-bottom: 2rem;

    strong {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 112%;
      letter-spacing: -1px;
      color: $gray-500;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 150%;
    color: $gray-400;
  }
}