footer {
  background-color: $brand-blue;

  .top{
    @include flex(row, center, space-between);
    border-bottom: 2px solid rgba(73, 196, 253, 0.2);
    padding: 4.9rem 0;
    margin-bottom: 5.7rem;

    .share {
      display: flex;
      align-items: flex-end;
      gap: 30px;

      span {
        font-size: 1.4rem;
        line-height: 125%;
        color: rgba(255, 255, 255, 0.7);
      }

      ul {
        display: flex;
        gap: 30px;
      }
    }
  }

  .middle {
    @include flex(row, flex-start, space-between);
    gap: 16px;
    border-bottom: 2px solid rgba(73, 196, 253, 0.2);
    padding-bottom: 6.2rem;
    margin-bottom: 3.9rem;

    nav {
      width: 100%;
      max-width: 86rem;
      @include flex(row, flex-start, space-between);

      .item {
        strong {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 125%;
          color: #FFFFFF;

          display: block;
          margin-bottom: 2.5rem;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.9rem;
            }

            a {
              font-size: 1.4rem;
              line-height: 17px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }

    .btns {
      width: 100%;
      max-width: 28rem;

      button {
        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }

        @include flex(row, center, flex-start);
        gap: 24px;
        background: rgba(0, 164, 240, 0.23);
        width: 100%;
        height: 7.6rem;
        padding: 0 2.5rem;
        border-radius: 6px;

        .info {
          @include flex(column, flex-start, flex-start);

          strong, span {
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 150%;
            color: #FFFFFF;
          }

          span {
            font-weight: 400;
          }
        }
      }
    }
  }

  .bottom {
    @include flex(row, flex-start, flex-start);
    gap: 25px;
    border-bottom: 4px solid #FFC800;
    padding-bottom: 3.4rem;

    .icon {
      font-size: 1.8rem;
    }

    p {
      width: 100%;
      max-width: 66rem;
      font-size: 1.4rem;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  @include responsive(1050px) {
    .middle {
      nav {
        max-width: 76rem;
      }
    }
  }

  @include responsive(991px) {
    .middle {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      nav {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 6rem 0;

        .item {
          width: 33%;
        }
      }

      .btns {
        position: absolute;
        right: 0;
        bottom: 100px;
      }
    }

    .bottom {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      p {
        margin-left: 0;
        text-align: center;
      }
    }
  }

  @include responsive(768px) {
    .middle {
      padding-bottom: 8.6rem;
      margin-bottom: 6.2rem;

      nav {
        .item {
          strong {
            font-size: 1.8rem;
          }

          ul {
            li {
              a {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
      
      .btns {
        bottom: 110px;

        button {
          padding: 0 3.2rem;

          img {
            display: none;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    .middle {
      .btns {
        max-width: 25rem;

        button {
          padding: 0 2.4rem;
        }
      }
    }
  }

  @include responsive(480px) {
    .top {
      padding: 4.6rem 0;
      margin-bottom: 5.2rem;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .share {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }

    .middle {
      gap: 40px;
      padding-bottom: 0;
      margin-bottom: 5rem;
      border: 0;

      nav {
        gap: 5.7rem 0;

        .item {
          width: 50%;
        }
      }

      .btns {
        position: initial;
        max-width: 100%;

        button {
          justify-content: center;

          .info {
            width: 100%;
            align-items: center;

            strong, span {
              text-align: center;
            }
          }
        }
      }
    }

    .bottom {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      p {
        margin-left: 0;
        text-align: center;
      }
    }
  }
}