.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url("../assets/bg-hero.svg") no-repeat center center;
  padding-top: 17.5rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .area-text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      color: #FFF;
      font-weight: 600;
      margin-bottom: 3.2rem;
      opacity: 0.8;
    }

    h1 {
      color: #FFF;
      margin-bottom: 4rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      margin-top: 6.4rem;
      
      @include flex(row, center, space-between);

      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        .icon {
          width: 4.8rem;
          height: 4.8rem;
          background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
          border-radius: 50%;

          @include flex(row, center, center);
        }

        span {
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: #FFFFFF;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      font-size: 5.6rem;
      letter-spacing: -2px;
      color: rgba(255, 255, 255, 0.4);
      text-align: center;
      margin-bottom: 6.4rem;
    }

    .image {
      width: 100%;
      height: 54.1rem;
      position: relative;
      top: 3.2rem;

      img {
        position: absolute;

        &.circle {
          top: 2.8rem;
          right: 4.3rem;
          max-width: 55.3rem;
        }

        &.card-front {
          top: 4.1rem;
          left: 0;
          z-index: 2;
          max-width: 43.5rem;
        }

        &.card-back {
          bottom: 4.6rem;
          right: 8.6rem;
          z-index: 1;
          max-width: 35.2rem;
        }
      }
    }
  }

  @include responsive(1440px) {
    .area-image {
      margin-right: -13.4rem;

      .image {
        img {
          &.card-back {
            right: 3.8rem;
          }
        }
      }
    }
  }

  @include responsive(1366px) {
    .area-image {
      margin-right: -8.4rem;
    }
  }

  @include responsive(1280px) {
    .area-image {
      margin-right: -6.4rem;
    }
  }

  @include responsive(1150px) {
    padding-top: 14.5rem;
    height: 65.6rem;

    .area-text {
      ul {
        margin-top: 4.4rem;
      }
    }

    .area-image {
      margin-right: -1.4rem;

      h2 {
        font-size: 4rem;
        margin-bottom: 1.4rem;
      }

      .image {
        height: 45rem;

        img {
          &.card-front {
            max-width: 35rem;
            top: 6.1rem;
          }

          &.card-back {
            max-width: 29rem;
            bottom: 0;
          }

          &.circle {
            max-width: 46rem;
          }
        }
      }
    }
  }

  @include responsive(991px) {
    height: 89.1rem;
    background-size: cover;
    padding-top: 15rem;

    .container {
      @include flex(column, center, flex-start);
    }

    .area-text {
      @include flex(column, center, flex-start);
      margin-bottom: 5rem;

      h3, h1 {
        text-align: center;
      }

      h3 {
        margin-bottom: 2.4rem;
      }

      h1 {
        margin-bottom: 2.6rem;
      }

      ul {
        max-width: 58.8rem;
        margin-top: 3.9rem;
  
        li {
          .icon {
            width: 4.4rem;
            height: 4.4rem;
          }
  
          span {
            font-size: 1.6rem;
            line-height: 2rem;
          }
        }
      }
    }

    .area-image {
      h2 {
        margin-bottom: 2rem;
      }
  
      .image {
        max-width: 51.1rem;
        height: 42.4rem;
        margin: 0 auto;
        top: 0;
  
        img {
          position: absolute;
  
          &.circle {
            top: 0;
            right: 1.3rem;
            max-width: 42.9rem;
          }
  
          &.card-front {
            top: 3.5rem;
            left: 0;
            z-index: 2;
            max-width: 34rem;
          }
  
          &.card-back {
            bottom: 3.6rem;
            right: 3rem;
            z-index: 1;
            max-width: 27.4rem;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    .area-image {
      .image {
        max-width: 48.1rem;
        height: 40.4rem;
  
        img {
          &.circle {
            max-width: 42.9rem;
          }
  
          &.card-front {
            top: 2.5rem;
            max-width: 30rem;
          }
  
          &.card-back {
            bottom: 6.6rem;
            max-width: 24.4rem;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 12.4rem;
    height: 73.9rem;

    .area-text {
      max-width: 100%;

      h3 {
        margin-bottom: 1.5rem;
      }

      h1 {
        margin-bottom: 3.7rem;
      }

      ul {
        margin-top: 3.7rem;
        max-width: 26rem;
        gap: 16px;
        
        @include flex(column, flex-start, flex-start);

        li {
          .icon {
            width: 2rem;
            height: auto;
            background: transparent;
            border-radius: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }

          span {
            br {
              display: none;
            }
          }
        }
      }
    }

    .area-image {
      h2 {
        display: none;
      }

      .image {
        max-width: 30.5rem;
        height: 24.8rem;
  
        img {
          position: absolute;
  
          &.circle {
            right: 0;
            max-width: 26.7rem;
          }
  
          &.card-front {
            top: 2.9rem;
            max-width: 21.1rem;
          }
  
          &.card-back {
            bottom: 0;
            right: 0.6rem;
            z-index: 1;
            max-width: 17rem;
          }
        }
      }
    }
  }
}

.s-card-neon {
  padding-top: 13rem;

  .container {
    @include flex(row, flex-start, space-between)
  }

  .area-left {
    width: 100%;
    max-width: 27.7rem;

    .area-mockup {
      width: 100%;
      max-width: 27.7rem;
      position: relative;
      margin-bottom: 13rem;

      .circle {
        position: absolute;
        z-index: -1;
        top: 8.7rem;
        left: -21.4rem;

        max-width: 37.7rem;
      }
    }

    .area-text {
      width: 100%;
      @include flex(column, center, flex-start);

      .icon {
        position: relative;

        &::before {
          content: "";
          width: 5px;
          height: 83px;
          position: absolute;
          top: -10.4rem;
          left: 50%;
          margin-left: -2.5px;
          background: url("../assets/points.svg") no-repeat center center;
        }
      }

      .info-txt {
        @include flex(column, center, flex-start);
        margin-top: 3.6rem;

        h3 {
          text-align: center;
          color: $gray-600;
        }

        p {
          font-size: 1.6rem;
          line-height: 150%;
          text-align: center;
          color: $gray-400;
        }

        ul {
          margin-top: 2.6rem;

          li {
            &:not(:last-child) {
              margin-bottom: 1.4rem;
            }
          }
        }
      }
    }
  }

  .area-right {
    width: 100%;
    max-width: 80rem;

    .main-text {
      margin-bottom: 14.4rem;

      h2 {
        max-width: 48.8rem;
        color: $gray-600;
        margin-bottom: 1.6rem;
      }

      ul {
        margin-bottom: 3.2rem;

        li {
          border-bottom: 1px solid rgba(225, 224, 231, 0.9);
          padding: 3.2rem 0;
          @include flex(row, center, space-between);

          .info {
            display: flex;
            align-items: center;
            gap: 43px;

            .txt {
              h3 {
                color: $gray-400;
              }

              p {
                font-size: 1.8rem;
                line-height: 150%;
                color: #7A7786;
              }
            }
          }
        }
      }

      .btn {
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 112%;
        letter-spacing: -0.5px;
        color: $brand-blue;
        position: relative;
        
        &::after {
          content: "";
          width: 10px;
          height: 3px;
          position: absolute;
          bottom: 0;
          right: -1.8rem;
          background-color: $brand-yellow;
        }
      }
    }

    .box-card {
      width: 100%;
      height: 40.1rem;
      background: url("../assets/bg-box-card-neon.svg") no-repeat center center;
      border-radius: 12px;
      padding-left: 6rem;
      @include flex(row, center, space-between);

      .text {
        width: 100%;
        max-width: 38rem;

        h2 {
          color: #FFF;
          font-weight: bold;
          margin-bottom: 1.1rem;
        }

        h3 {
          color: #FFF;
          max-width: 37rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 150%;
          color: #FFFFFF;
          max-width: 32.7rem;
          margin: 0.8rem 0;
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 16px;

          button {
            padding: 0 3.5rem;
          }
        }
      }

      .image {
        margin-right: -3.1rem;
      }
    }
  }

  @include responsive(1200px) {
    .area-left {
      .area-mockup {
        .circle {
          display: none;
        }
      }
    }

    .area-right {
      max-width: 72rem;

      .main-text {
        ul li .info {
          gap: 2rem;
        }
      }

      .box-card {
        padding-left: 3.5rem;

        .image {
          margin-right: -1rem;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {
      flex-direction: column-reverse;
      padding: 0 40px;
    }

    .area-right {
      max-width: 100%;
      margin-bottom: 9.4rem;

      .main-text {
        margin-bottom: 5.7rem;

        h2 {
          max-width: 42.4rem;
          margin: 0 auto 2rem;
          text-align: center;
          font-size: 3.6rem;
        }

        .btn {
          display: block;
          text-align: center;

          &::after {
            right: auto;
            margin-left: 8px;
          }
        }
      }

      .box-card {
        max-width: 99%;

        .image {
          margin-right: -3rem;
        }
      }
    }

    .area-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 61rem;
      margin: 0 auto;

      .area-mockup {
        margin: 0;
        max-width: 25.5rem;
      }

      .area-text {
        max-width: 28rem;

        .icon {
          &::before {
            display: none;
          }
        }

        .info-txt {
          p {
            font-size: 1.8rem;
          }

          ul {
            margin-top: 4.4rem;
          }
        }
      }
    }
  }

  @include responsive(600px) {
    .container {
      padding: 0 15px;
    }

    .area-right {
      margin-bottom: 11.7rem;

      .box-card {
        max-width: 100%;
        height: 47rem;
        background-size: cover;
        flex-direction: column;
        padding: 4.3rem 2.8rem 0;

        .text {
          max-width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 3.4rem;

          h2, h3, p {
            text-align: center;
          }

          h3 {
            font-size: 2rem;
          }
          
          .btns {
            margin-top: 3.4rem;
            gap: 14px;

            button {
              padding: 0px 3.2rem;
            }
          }
        }

        .image {
          margin-right: 0;
        }
      }
    }

    .area-left {
      margin-top: 2.5rem;
    }
  }

  @include responsive(480px) {
    padding-top: 8.6rem;

    .area-right {
      .main-text {
        margin-bottom: 3.4rem;

        h2 {
          margin-bottom: 1rem;
          font-size: 2.8rem;
        }

        ul {
          margin-bottom: 4rem;

          li {
            gap: 32px;

            .info {
              align-items: flex-start;

              .txt {
                h3 {
                  font-size: 2rem;
                  margin-bottom: 0.8rem;
                  max-width: 19rem;
                }

                p {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }

      .box-card {
        .text {
          max-width: 27rem;
          margin-bottom: 5.4rem;

          h2 {
            font-size: 2.8rem;
            margin-bottom: 1.4rem;
            font-weight: 600;
          }

          p {
            margin-bottom: 0;
          }

          .btns {
            button {
              padding: 0 3rem;
            }
          }
        }
      }
    }

    .area-left {
      margin-top: 0;
      flex-direction: column-reverse;

      .area-text {
        margin-bottom: 4rem;

        .info-txt {
          margin-top: 1.4rem;

          h3 {
            font-size: 2.4rem;
          }
        }
      }

      .area-mockup {
        max-width: 22rem;
        height: 39.7rem;
        overflow: hidden;
      }
    }

    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 21.4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(180deg, #F7F7FA 0%, rgba(247, 247, 250, 0) 100%);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
}

.s-depoimentos {
  padding-top: 13.4rem;

  .top {
    margin-bottom: 4rem;
    @include flex(row, flex-end, space-between);

    h2 {
      span {
        display: block;
        font-weight: bold;
        color: $gray-200;
        margin-bottom: 1.4rem;
      }

      font-weight: bold;
      color: $gray-600;
    }

    .swiper-pagination {
      position: relative;
      width: auto;

      .swiper-pagination-bullet {
        width: 8px;
        height: 7px;
        background: rgb(255, 200, 0);
        opacity: 0.3;
        border-radius: 12px;

        transition: all 0.3s;

        &-active {
          width: 17px;
          opacity: 1;
        }

        &:not(:first-child) {
          margin-left: 0.4rem;
        }
      }
    }
  }

  .slide-depoimentos {
    overflow: hidden;
  }

  @include responsive(800px) {
    .container {
      padding: 0;
    }

    .top {
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;

      h2 {
        text-align: center;
        margin-bottom: 6.2rem;
      }
    }

    .slide-depoimentos {
      padding: 0 2rem;
    }
  }

  @include responsive(480px) {
    padding-top: 7.6rem;
    
    .top {
      margin-bottom: 3.4rem;

      h2 {
        span {
          font-weight: 600;
          font-size: 2.4rem;
          color: $gray-200;
          margin-bottom: 1rem;
        }

        font-weight: 600;
        font-size: 28px;
        color: $gray-600;
        margin-bottom: 4.6rem;
        max-width: 25rem;
      }
    }
  }
}

.s-conta-digital {
  padding: 12.7rem 0 8.5rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .area-text {
    max-width: 54.2rem;

    h2 {
      color: $gray-600;
      margin-bottom: 4.5rem;

      span {
        display: block;
        color: rgba(198, 197, 206, 0.8);
        margin-bottom: 0.9rem;
      }
    }

    ul {
      margin-bottom: 5rem;

      li {
        &:not(:last-child) {
          margin-bottom: 3.7rem;
        }

        display: flex;
        gap: 26px;

        .icon {
          width: 4.5rem;
          height: 4.5rem;
          background: $brand-green-light;
          border-radius: 8px;

          @include flex(row, center, center);
        }

        .info {
          h4 {
            color: $gray-400;
            margin-bottom: 0.4rem;
          }

          p {
            font-size: 1.8rem;
            line-height: 150%;
            color: $gray-300;
          }
        }
      }
    }
  }

  .area-image {
    position: relative;
    width: 100%;
    max-width: 71.2rem;
    height: 59.8rem;
    left: 12.4rem;
    margin-right: -3.8rem;

    img {
      position: absolute;

      &.circle {
        right: 0;
        bottom: 0;
      }

      &.mockup-01 {
        bottom: 4.8rem;
      }

      &.mockup-02 {
        top: 0.3rem;
        left: 25.8rem;
      }
    }
  }

  @include responsive(1280px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .area-image {
      margin-right: 0;
      left: 0;
      margin-top: 5rem;
    }

    .area-text {
      max-width: 75%;
      @include flex(column, center, flex-start);

      h2 {
        text-align: center;
        max-width: 80%;
      }
    }
  }

  @include responsive(800px) {
    padding: 8.6rem 0 8.1rem;

    .area-text {
      max-width: 100%;
    }

    .area-image {
      margin-top: 7.8rem;
      max-width: 58.2rem;
      height: 63.3rem;

      img {
        &.circle {
          width: 100%;
        }

        &.mockup-01,
        &.mockup-02 {
          z-index: 2;
        }

        &.mockup-01 {
          left: 5.2rem;
        }

        &.mockup-02 {
          left: 31rem;
        }
      }
    }
  }

  @include responsive(480px) {
    padding: 5.7rem 0 7.2rem;

    .area-text {
      h2 {
        span {
          font-size: 2.4rem;
          margin-bottom: 1.1rem;
        }

        font-size: 2.8rem;
        max-width: 100%;
      }

      ul {
        margin-bottom: 4.2rem;

        li {
          max-width: 29rem;
          margin-bottom: 3rem;
          flex-direction: column;
          align-items: center;
          gap: 16px;

          .info {
            h4 {
              text-align: center;
            }

            p {
              text-align: center;
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .area-image {
      margin-top: 4.6rem;
      max-width: 35.8rem;
      height: 47rem;

      img {
        &.mockup-01,
        &.mockup-02 {
          max-width: 16.8rem;
        }

        &.mockup-01 {
          top: 5.8rem;
          left: 0;
          bottom: initial;
        }

        &.mockup-02 {
          top: 0;
          bottom: initial;
          left: initial;
          right: 0;
        }
      }
    }
  }
}